@model IEnumerable<IMS_Project.Models.estudiante>

@{
    ViewBag.Title = "Estudiante";
}

<div>
   
    <a href="@Url.Action("Create","Customer")" class="btn btn-primary"><i class="fa fa-plus"></i> Add New</a>  
</div>
<br />
<div class="row">

    <table class="table table-hover table-bordered table-striped">
  <tr>
      <th>
          @Html.DisplayNameFor(model => model.id)
      </th>
    <th>
        @Html.DisplayNameFor(model => model.nombre)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.apellido)
    </th>    
    <th>
        @Html.DisplayNameFor(model => model.ci)
    </th> 
      <th>
          @Html.DisplayNameFor(model => model.grupo.nombre)
      </th> 
   
    <th></th>
</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.ci)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.grupo.nombre)
        </td>

       
    
        
        <td>
            <a class="btn btn-sm btn-primary" href="@Url.Action("Edit", "Customer", new { id = item.id })" aria-label="Edit" data-toggle="tooltip" data-placement="top" title="Edit">
                <i class="fa fa-edit" aria-hidden="true"></i>
            </a>
            
              
            <a class="btn btn-sm btn-danger" href="@Url.Action("Delete", "Customer", new { id = item.id })" aria-label="Delete" data-toggle="tooltip" data-placement="top" title="Delete">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
        </td>
    </tr>

}

    </table>
</div>
